<nav class=row>
  <header class="col-md-8">
    <h1 class="page-header"> <%= "Resultado da busca por: #{@term}" %> </h1>
  </header>
</nav>
  
<section class="row">
  <% @recipes.each do |recipe|%>
    <%= render recipe, object: recipe %>
  <%end%>
</section>