<nav class=row>
  <section class="col-md-8">
    <h1 class="page-header"><%= @cuisine.name %></h1>
  </section>
</nav>

<article class="row">
  <h4 class="notice"><%= flash[:notice] %></h4>
  <% @recipes.each do |recipe|%>
    <%= render recipe, object: recipe %>
  <%end%>
</article>



