<section class='col col-md-3 hidden-xs'>
  <aside class="left">
    <h3>Cozinha</h3>
    <% @cuisines.each do |cuisine|%>
      <ul>
        <p>
          <h4> <%= link_to cuisine.name, cuisine %> </h4>
        </p>
      </ul>
      <%end%>
      <h3>Tipos de Receita</h3>
      <% @recipe_types.each do |recipe_type|%>
        <ul>
          <p>
            <h4> <%= link_to recipe_type.name, recipe_type %> </h4>
          </p>
        </ul>
      <%end%>
  </aside>
</section>