<nav class="row">
  <section class="col-md-8">
    <header class="page-header">
      <h1>CookBook</h1>
      <p>Bem-vindo ao maior livro de receitas online</p>
    </header>
  </section>
</nav>

<article class="row">
  <% @recipes.each do |recipe|%>
    <%= render recipe, object: recipe %>
  <%end%>
  <%= link_to  "Visualizar tudo", recipes_path %>
</article>
